@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 15 85% 11%;
    --card: 0 0% 100%;
    --card-foreground: 15 85% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 15 85% 11%;
    --primary: 32 84% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 20 77% 53%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 15 85% 11%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 14 100% 35%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 20 77% 53%;
    --input: 20 77% 53%;
    --ring: 32 84% 59%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.event-card {
  @apply relative overflow-hidden rounded-lg transition-all duration-300 hover:shadow-xl;
  background: linear-gradient(135deg, #efac41 0%, #b32900 100%);
}

.event-card:hover {
  transform: translateY(-5px);
}